20+ Project managment Agent.json
{
  "name": "20+ Project managment Agent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -48,
        32
      ],
      "id": "787dc30a-e852-44c8-962d-776f79e04bb5",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When Executed by Another Workflow').item.json.query }}",
        "options": {
          "systemMessage": "=You are an project manager agent, You will be managing and taking note of all projects, tasks and todos of company and the client.\n\nSo when someone asks about the project details, you'll be giving the project details. \n\nAlso you can add notes (feedback or description) and you can delete, create and manage projects. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        304,
        48
      ],
      "id": "4cb7336c-b163-47f7-ad01-2e9a909baf1c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        0,
        336
      ],
      "id": "d6a4a283-e766-4518-8e91-7550d44c0aa1",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "OgtpJs1hg0G9EgD2",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "dasds"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        176,
        304
      ],
      "id": "2c7b9956-189c-4dd1-a3df-8674c4f14500",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1fG43hCugp4g1j1cediGeeNEb1n-fjll415si0QWGmP8",
          "mode": "list",
          "cachedResultName": "Mother Doc",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fG43hCugp4g1j1cediGeeNEb1n-fjll415si0QWGmP8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2038945695,
          "mode": "list",
          "cachedResultName": "Client Tasks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fG43hCugp4g1j1cediGeeNEb1n-fjll415si0QWGmP8/edit#gid=2038945695"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        320,
        512
      ],
      "id": "e1b62b03-4415-436f-8398-a96d86410562",
      "name": "Clients task",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Yx7PLZwpfqNeaVTQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1fG43hCugp4g1j1cediGeeNEb1n-fjll415si0QWGmP8",
          "mode": "list",
          "cachedResultName": "Mother Doc",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fG43hCugp4g1j1cediGeeNEb1n-fjll415si0QWGmP8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Company Tasks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fG43hCugp4g1j1cediGeeNEb1n-fjll415si0QWGmP8/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Goals",
              "lookupValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        528,
        544
      ],
      "id": "ac60f42f-83b7-4d75-b945-f5114d3a1172",
      "name": "Company task",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Yx7PLZwpfqNeaVTQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1fG43hCugp4g1j1cediGeeNEb1n-fjll415si0QWGmP8",
          "mode": "list",
          "cachedResultName": "Mother Doc",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fG43hCugp4g1j1cediGeeNEb1n-fjll415si0QWGmP8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Company Tasks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fG43hCugp4g1j1cediGeeNEb1n-fjll415si0QWGmP8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Goals": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Goals__using_to_match_', ``, 'string') }}",
            "Status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Status', ``, 'string') }}",
            "Priority": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Priority', ``, 'string') }}",
            "Owner": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Owner', ``, 'string') }}",
            "Start date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_date', ``, 'string') }}",
            "End date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_date', ``, 'string') }}",
            "Notes": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Notes', ``, 'string') }}"
          },
          "matchingColumns": [
            "Goals"
          ],
          "schema": [
            {
              "id": "Goals",
              "displayName": "Goals",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Owner",
              "displayName": "Owner",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Start date",
              "displayName": "Start date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "End date",
              "displayName": "End date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        768,
        560
      ],
      "id": "472f5b55-fb0f-47ba-8262-edf19724647d",
      "name": "update notes in company task",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Yx7PLZwpfqNeaVTQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1fG43hCugp4g1j1cediGeeNEb1n-fjll415si0QWGmP8",
          "mode": "list",
          "cachedResultName": "Mother Doc",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fG43hCugp4g1j1cediGeeNEb1n-fjll415si0QWGmP8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2038945695,
          "mode": "list",
          "cachedResultName": "Client Tasks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fG43hCugp4g1j1cediGeeNEb1n-fjll415si0QWGmP8/edit#gid=2038945695"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Goals": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Goals__using_to_match_', ``, 'string') }}",
            "Status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Status', ``, 'string') }}",
            "Priority": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Priority', ``, 'string') }}",
            "Owner": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Owner', ``, 'string') }}",
            "Start date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_date', ``, 'string') }}",
            "End date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_date', ``, 'string') }}",
            "Notes": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Notes', ``, 'string') }}"
          },
          "matchingColumns": [
            "Goals"
          ],
          "schema": [
            {
              "id": "Goals",
              "displayName": "Goals",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Owner",
              "displayName": "Owner",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Start date",
              "displayName": "Start date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "End date",
              "displayName": "End date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        1024,
        416
      ],
      "id": "99a8e919-00e5-43da-a6e9-bceef64b99e1",
      "name": "update notes in client task",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Yx7PLZwpfqNeaVTQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1fG43hCugp4g1j1cediGeeNEb1n-fjll415si0QWGmP8",
          "mode": "list",
          "cachedResultName": "Mother Doc",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fG43hCugp4g1j1cediGeeNEb1n-fjll415si0QWGmP8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Company Tasks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fG43hCugp4g1j1cediGeeNEb1n-fjll415si0QWGmP8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Goals": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Goals', ``, 'string') }}",
            "Status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Status', ``, 'string') }}",
            "Priority": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Priority', ``, 'string') }}",
            "End date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_date', ``, 'string') }}",
            "Start date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_date', ``, 'string') }}",
            "Owner": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Owner', ``, 'string') }}",
            "Notes": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Notes', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Goals",
              "displayName": "Goals",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Owner",
              "displayName": "Owner",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Start date",
              "displayName": "Start date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "End date",
              "displayName": "End date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        144,
        656
      ],
      "id": "88fd27bc-190e-4ab7-b8a5-becccf5fc886",
      "name": "Create company task",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Yx7PLZwpfqNeaVTQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1fG43hCugp4g1j1cediGeeNEb1n-fjll415si0QWGmP8",
          "mode": "list",
          "cachedResultName": "Mother Doc",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fG43hCugp4g1j1cediGeeNEb1n-fjll415si0QWGmP8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2038945695,
          "mode": "list",
          "cachedResultName": "Client Tasks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fG43hCugp4g1j1cediGeeNEb1n-fjll415si0QWGmP8/edit#gid=2038945695"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Goals": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Goals', ``, 'string') }}",
            "Status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Status', ``, 'string') }}",
            "Priority": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Priority', ``, 'string') }}",
            "End date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_date', ``, 'string') }}",
            "Start date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_date', ``, 'string') }}",
            "Owner": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Owner', ``, 'string') }}",
            "Notes": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Notes', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Goals",
              "displayName": "Goals",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Owner",
              "displayName": "Owner",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Start date",
              "displayName": "Start date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "End date",
              "displayName": "End date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        448,
        672
      ],
      "id": "4daf2151-b69d-4715-922f-b395b8e17cce",
      "name": "create clients task",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Yx7PLZwpfqNeaVTQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1fG43hCugp4g1j1cediGeeNEb1n-fjll415si0QWGmP8",
          "mode": "list",
          "cachedResultName": "Mother Doc",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fG43hCugp4g1j1cediGeeNEb1n-fjll415si0QWGmP8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Company Tasks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fG43hCugp4g1j1cediGeeNEb1n-fjll415si0QWGmP8/edit#gid=0"
        },
        "startIndex": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Row_Number', ``, 'number') }}",
        "numberToDelete": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Number_of_Rows_to_Delete', ``, 'number') }}"
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        688,
        704
      ],
      "id": "74de66bc-6e98-4d16-875b-dd8123f3c335",
      "name": "delete company task",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Yx7PLZwpfqNeaVTQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1fG43hCugp4g1j1cediGeeNEb1n-fjll415si0QWGmP8",
          "mode": "list",
          "cachedResultName": "Mother Doc",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fG43hCugp4g1j1cediGeeNEb1n-fjll415si0QWGmP8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2038945695,
          "mode": "list",
          "cachedResultName": "Client Tasks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fG43hCugp4g1j1cediGeeNEb1n-fjll415si0QWGmP8/edit#gid=2038945695"
        },
        "startIndex": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Row_Number', ``, 'number') }}",
        "numberToDelete": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Number_of_Rows_to_Delete', ``, 'number') }}"
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        960,
        640
      ],
      "id": "c7d88b51-b75c-493d-adf3-c502da219760",
      "name": "delete client task",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Yx7PLZwpfqNeaVTQ",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Clients task": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Company task": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "update notes in company task": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "update notes in client task": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create company task": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "create clients task": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "delete company task": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "delete client task": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "8f6b097f-fffb-4798-ac84-0cc773657924",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2da198d4871c8b47e7f385edabca21cb45ad63e67689070edd243c77eaa2830d"
  },
  "id": "2qS7ec2pxTntqB2N",
  "tags": []
}